*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#menu
{
   visibility: hidden;
}
#head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
}
.para
{
   font-weight: bolder;
}
.anc
{
    color:black;
    text-decoration:none;
    margin-right: 3rem;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.anc:hover
{
    text-decoration:underline green 0.2rem;
}
.anc2
{
    margin-right: 5rem;
}
#head-left
{
    /* margin-left:7rem; */
    font-weight: bolder;
    font-size: 2rem;
}
#head2
{
    width:95vw;
    height:55vh;
    background-color:white;
    margin-left: 8rem;
    border-radius:3rem 0rem;
    display: flex;
    justify-content: space-around;
    
}
#item
{
    opacity: 0.5;
    border-radius: 2rem;
    height:50vh;
    width:50rem;
}
.fhead1
{
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.fhead2
{
    font-size: 2rem;
    margin-bottom: 5rem;
}
.btn
{
    width:7rem;
    height:3rem;
    background-color: #9babb8d0;
    color:black;
    cursor: pointer;
}
.btn3
{
   width:8rem;
   height:3rem; 
   text-align: center;
   margin-left: 1rem;
}
.connect
{
    margin-top: 8rem;
}
.head3
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.list
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.li
{
    color: black;
    text-decoration: none;
    margin-right: 3rem;
}
.li:hover
{
    text-decoration: underline green 0.2rem;
}
.mainCard
{
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 30rem;
  height:35rem;
  margin-left: 8rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 30rem;
  border-radius: 10px 10px 0 0;
}
.lis{
    width:6rem;
    height:3rem;
}
.card-content {
  padding: 20px;
}

.card h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.card p.price {
  margin: 10px 0 0;
  font-size: 16px;
  color: #888;
}

.card p.price::before {
  content: "$";
  font-weight: bold;
}

.card p.price::after {
  content: " USD";
  font-weight: normal;
}

.card-content::after {
  content: "";
  display: table;
  clear: both;
}
#header1
{
  display: flex;
  justify-content: center;
}
.btn2
{
    width:8rem;
    height:3rem;
    margin-top: 2rem;
    color: wheat;
    background-color: #333;
}

@media(max-width:800px)
{
   #head2 
   {
       display: flex;
       flex-wrap: wrap;
   }
   #second img
   {
     height:50vh;
     width:40vw;
   }
   #head-center
    {
       visibility: hidden;
    }
    .show-center
    {
        visibility: visible;
        border: 1px solid grey;
        height:35vh;
        width: 30vw;
        background-color: red;
    }
    #menu
    {
      visibility: visible;
      margin-left: 10rem;
      margin-right:1rem;
    }
}
@media(max-width:700px) and (min-width:300px)
{
    .fhead1 
    {
      font-size: smaller;
    }
    #head-center
    {
       visibility: hidden;
    }
    .fhead2
    {
       font-size: smaller;
    }
    #head2
    {
       display: flex;
       height:75vh;
       margin-left: 0;
       margin-right: 0;
       flex-wrap:wrap;
    }
    .btn
    {
       width:10vw;
       text-size-adjust:inherit;
    }
    #item
    {
      visibility: visible;
    }
}